body{
    background: linear-gradient(white, #2eada7, black);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 3px beige;
    text-align: center;
    font-size: 3vw;

    
}
h3{
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
}
p{
    font-family: 'Oswald', sans-serif;
    margin-top:  20px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.linea{
    background-color: brown;
    width: 85%;
    height: 3px;
    margin: 3vw auto ;
    
}

.box-proyect{
    background-color:rgba(243, 235, 235, 0.26);
    
    margin: 2em 2em;
    box-shadow: rgba(0,0,0,0.5) 10px 10px 8px;
    
    text-align: center;
}

/*
.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}*/

.galeria{
    display: grid;

}
img{
    width: 95%;
}

.img-proyect-QC{
    height: 50px;
    size: unset;
}

@media(min-width:520px){
    .galeria{
        grid-template-columns: repeat(2,50%);
        font-size: small;
    }
    
}

@media(min-width:728px){
    .galeria{
        grid-template-columns: repeat(3,33.3%);
        font-size: medium;
    }
}

@media(max-width:958px){
    h1{
        font-size: 5vw;
    }
}
